header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative; /* Caixa é relativo e samba pros lados e o navc é absoluto*/
    width: 940px; /* Largura da caixa */
    margin: 0 auto;
}

nav {
    position: absolute; /* Com o position: absolute, eu consigo posicionar meu elemento em qualquer lugar da página. */
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Tira o traço embaixo */
}

nav a:hover /* Quando o mouse está por cima */ {
    color: #C78C19;
    text-decoration: underline;
}

.produtos li:hover {
    border-color:  #C78C19;
}

.produtos li:active /* Quando eu clico */ {
    border-color: #088C19;
}

.produtos li:hover h2 /*Quando estiver passando porcima do h2 ele tenha o tamanho  de 40px */ {
    font-size: 34px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; /* O tamanho pode ser ajustado, tanto na largura, quanto na altura. */
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:  0 1.5%;
    padding: 30px 20px; /* O elemento aumenta o seu tamanho. Quando declaro que existe um espaçamento interno, estou aumentando o conteúdo. */
    box-sizing: border-box; /* indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding. */
    border: 2px solid #000000; /* a borda fica posicionada entre o padding e a margin */
    border-radius: 10px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("/image/bg.jpg");
    padding: 40px 0;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

